<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="projectName">Project name: </label>
    <input type="text" id="projectName" formControlName="projectName" />
    <label for="email">Email: </label>
    <input type="email" id="email" formControlName="email" />
    <label for="projectStatus">Project Status</label>
    <select id="projectStatus" formControlName="projectStatus">
      <option value="stable">Stable</option>
      <option value="critical">Critical</option>
      <option value="finished">Finished</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</div>
